.bold-text {
  font-weight: bold;
}

.site-body {
  min-height: 100vh;
  z-index: 10;
}

.page-container {
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(48, 48, 48, 0.25);
  border-radius: 5px;
  padding: 1rem;
}

.no-shadow {
  box-shadow: none;
}

.centeredDiv {
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.filter-section {
  background-color: #e8e8e8;
}

.filter-icon {
  height: 2rem;
}

.filter-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.select {
  outline: none;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #dedede;
  border-radius: 15px;
  opacity: 1;
  padding: 0px 10px;
  height: 40px;
}

/* Donut Chart styles - starts */
.donutChartColorIndicator {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.race-chart-main-container {
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* Donut Chart styles - ends */

/* Race Chart styles - starts */

.race-chart-container {
  font-size: 14px;
}

.race-chart-container .role {
  color: #4797ff;
}

.racechart-title-container {
  background-color: #e5edf0;
}

.raceChart-itemTitle {
  position: absolute;
  width: max-content;
}

.raceChart-radius {
  border-radius: 0.5rem;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Race Chart styles - ends */
